<?xml version='1.1' encoding='UTF-8'?>
<asg.pyats.plugins.pyats.PyATSProject plugin="pyats-project-plugin@3.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.11">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H/15 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <asg.pyats.plugins.pyats.builder.PyATSBuilderArgs>
      <jobfile>/scripts/ospf_neighbor_check.py</jobfile>
      <loglevel>INFO</loglevel>
      <no__mail>true</no__mail>
      <mailto></mailto>
      <mail__subject></mail__subject>
      <mail__html>false</mail__html>
      <no__archive>false</no__archive>
      <no__upload>true</no__upload>
      <runinfo__dir></runinfo__dir>
      <archive__dir></archive__dir>
      <testbed__file>/scripts/testbed.yaml</testbed__file>
      <submitter></submitter>
      <image></image>
      <release></release>
      <xunit>false</xunit>
      <xunit__dir></xunit__dir>
      <tims__post>false</tims__post>
      <tims__user></tims__user>
      <tims__dns></tims__dns>
      <tims__options></tims__options>
      <tims__folder></tims__folder>
      <tims__config__id></tims__config__id>
      <tims__custom__attrs></tims__custom__attrs>
      <clean__file></clean__file>
      <clean__devices></clean__devices>
      <clean__scope>job</clean__scope>
      <invoke__clean>false</invoke__clean>
      <logical__testbed__file></logical__testbed__file>
      <rerun__file></rerun__file>
      <rerun__condition></rerun__condition>
      <enable__job__uid>false</enable__job__uid>
      <job__uid>$BUILD_TAG</job__uid>
    </asg.pyats.plugins.pyats.builder.PyATSBuilderArgs>
  </builders>
  <publishers>
    <asg.pyats.plugins.pyatsreport.PyATSReportPublisher plugin="pyats-report-plugin@4.0">
      <uploadS3>false</uploadS3>
      <s3Server></s3Server>
      <s3RequestId></s3RequestId>
      <uploadTrade>false</uploadTrade>
      <generateJunit>false</generateJunit>
    </asg.pyats.plugins.pyatsreport.PyATSReportPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.23">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
  <pyatsInstance>/pyats</pyatsInstance>
  <tclAtsInstance></tclAtsInstance>
  <forceshell>bash</forceshell>
  <provisionFile></provisionFile>
  <useDockerOnflash>false</useDockerOnflash>
  <useDocker>false</useDocker>
  <dockerHub>hub.docker.com</dockerHub>
  <dockerRepo></dockerRepo>
  <dockerImage></dockerImage>
  <dockerTag></dockerTag>
  <removeImage>true</removeImage>
  <bootstrap__servers></bootstrap__servers>
  <logs__server></logs__server>
  <topic></topic>
  <noneAutoProvisionedArgs>
    <string>pyatsInstance</string>
    <string>tclAtsInstance</string>
    <string>forceshell</string>
    <string>provisionFile</string>
    <string>useDocker</string>
    <string>dockerHub</string>
    <string>dockerRepo</string>
    <string>dockerImage</string>
    <string>dockerTag</string>
    <string>removeImage</string>
  </noneAutoProvisionedArgs>
</asg.pyats.plugins.pyats.PyATSProject>